{% extends 'base.html' %}

{% block title %}
  Learning Log | {{ topic }}
{% endblock %}

{% block header %}
  <h2>
    {{ topic }} 
    {% if topic.public and user != topic.owner %}
      <span class="badge badge-success">Public</span> from <strong>{{ topic.owner.username }}</strong>
    {% elif topic.public %}
      <span class="badge badge-success">Public</span>
    {% endif %}
  </h2>

  {% if user == topic.owner %}
    <!-- Collapse button with data-target="topicActions" -->
    <button class="btn btn-secondary dropdown-toggle btn-block" type="button" data-toggle="collapse" data-target="#topicActions" aria-expanded="false" aria-controls="topicActions">
      Topic actions
    </button>
  {% endif %}

  <!-- Initiate the collapse content from topicActions -->
  <div class="collapse" id="topicActions">
    <div class="card mt-2">
      <div class="list-group list-group-flush">
	<a class="list-group-item list-group-item-action" href="{% url 'learning_log:new_entry' topic.id %}"><strong>Add new entry</strong></a>
	<a class="list-group-item list-group-item-action" href="{% url 'learning_log:edit_topic' topic.id %}"><strong>Edit topic</strong></a>
	<a class="list-group-item list-group-item-action text-danger" href="{% url 'learning_log:delete_topic' topic.id %}"><strong>Delete topic</strong></a>
      </div>
    </div>
  </div><!-- /.collapse -->
{% endblock %}

{% block content %} 
  {% for entry in page_obj %}
    <div class="card mb-3">
      <h4 class="card-header">
	{{ entry.date_added|date:'M d, Y H:i' }} 
        {% if user == topic.owner %}
	  <a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'learning_log:edit_entry' entry.id %}">Edit entry</a>
	{% endif %}
      </h4>
      <div class="card-body">
	<p class="card-text">{{ entry.entry_text|linebreaks }}</p>
      </div>
   </div><!-- card -->
   {% empty %}
     <h5 class="text-danger">There are no entries for this topic yet.</h5>
   {% endfor %}

   {% if page_obj.has_other_pages %}
     <nav class="mt-1" aria-label="Page navigation entries">
       <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
	   <li class="page-item">
	     <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><b>Newer</b></a>
	   </li>
	 {% else %}
	   <li class="page-item disabled">
	     <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Newer</b></a>
	   </li>
	 {% endif %}
         
	 {% if page_obj.has_next %}
	   <li class="page-item">
	     <a class="page-link" href="?page={{ page_obj.next_page_number }}"><b>Older</b></a>
	   </li>
	 {% else %}
	   <li class="page-item disabled">
	     <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><b>Older</b></a>
	  </li>
	 {% endif %}
       </ul>
     </nav>
   {% endif %}
{% endblock %}

